/*----------------------------*\

      MAIN

\*----------------------------*/
#wrapper
{ 
  width: 100%;
  border-top: 0px;
  text-align: left;
  font-size: 12px;
}
/*----------------------------*\

      HEAD

\*----------------------------*/
#header
{
  background: url("../images/header_bg.jpg") no-repeat right;
  height: 89px;
	background-color: #fff;
}
#header img
{
  margin-top: 25px;
}

/*----------------------------*\

      SIDEBARS

\*----------------------------*/
#sidebar1
{
  float: left;
}
#sidebar2
{
  float: right;
}
#sidebar1,
#sidebar2
{
  width: 200px;
  border: 1px solid #cccccc;
  margin-top: 20px;
}

#user
{
}

#user_info
{
  margin: 0px;
  font-size: 1.1em;
}

/*----------------------------*\

       MODULE NAVIGATION

\*----------------------------*/
/* The list container. */
#moduleNav
{
  height: 1.2em;
}

#moduleNav
{
  list-style: none; /* Remove the bullets. */
  display: inline; /* I'm not sure what this does, but it has an effect. */
}

#moduleNav li
{
  float: left;
  line-height: normal; /* Not sure what this does. */
  margin: 0px 4px; /* Space between each link. */
}

/* Navigation link. */ 
#moduleNav a
{
  padding: 0 5px;
}

/* Navigation link, mouse over. */
#moduleNav a:hover
{
  text-decoration: underline;
}


/*----------------------------*\

      CONTENT

\*----------------------------*/

#main
{ 
  width: 780px;
  margin: 20px auto 0;
}

#content
{
  clear: both;
}

.zebra .even
{
}

.hover_hilite_row tr.row_norm:hover td
{
  background-color: #d4d4d4;
}

.hover_hilite_row tr.row_alt:hover td
{
  background-color: #d4d4ff;
}

.tableBreak 
{
  border-bottom: 1px solid #555555;
}
.groupBy td
{
  border-bottom: 1px solid #333;
  padding: 3px;
  padding-top: 10px;
} 
.groupBy 
{
  font-size: 1.2em;
}
.highlighted 
{
  background-color: #ff0; 
}

h2
{
    border-bottom: 1px dashed #C10221;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
table .number { text-align: center }
table .leave_type { width: 90px }
table .date { width: 75px }
.employee_name { text-decoration: underline; }
  


/*----------------------------*\

               TABLES

\*----------------------------*/
#main td, #main th
{
  padding: 3px 10px 3px 3px;
}

#main table,
#main th
{
}
  
/*----------------------------*\

               MISC

\*----------------------------*/

.quick_links
{
  background-color: #131C5D;
  margin: 0 0 5px 0;
  font-size: 1.3em;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  
}
.quick_links a
{
  color: #fff;
  margin: 0 5px 15px 0;
  text-decoration: none;
}
.quick_links a:hover
{
  color: #f00;
  text-decoration: underline;
}
